# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# PyCharm settings
.idea/

# Build/output folders
build/
dist/
*.egg-info/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db