# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# PyCharm project settings
.idea/

# Environment variables / secrets
.env
.env.*

# Build / distribution folders
build/
dist/
*.egg-info/

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db